.kontener {
    font-family: Helvetica, sans-serif;
    background-color: linen;
    color: #222;
    margin: auto;
    width: 90%;
}
.baner {
    background-color: black;
    color: white;
    width: 50%;
    height: 100px;
    float: left;
}
ul a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;   
    display: inline-block;
    margin: 10px;
    padding: 5px;
}
main {
    clear: both;
    padding: 20px;
}
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
table {
    margin: 40px;
}
td {
    padding: 30px;
    text-align: center;
    font-weight: bold;
}
a:hover {
    color: white;
}